body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    border-color: black;
    background-color: grey;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.input-buttons {
    display: flex;
    
}